<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>show1</title>
        <style type="text/css">
            tr, td {
                border: solid 1px black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <table>
            {% for row in data %}
            <tr>
                {% for col in row %}
                <td>{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>